* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;	
}

.d-none {
	display: none;
}

body {
	font-family: 'Roboto', sans-serif;
}

.content {
    margin: 1rem;
    background: #283c86;
    height: 1000px;
	background: rgba(205, 133, 63, 0.32);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

.appearScroll_title {
	cursor: pointer;
	font-size: 0.7rem;
	font-weight: bold;
	padding: 0.3rem 0.5rem;
	display: inline-block;
	background: #E00109;
	color: #fff;
}

img {
	width: 100%;
	height: 100px;
}

i.fa.fa-angle-right,
i.fa.fa-angle-left {
	color: #fff;
	display: block;
}

.fa-angle-right:before,
.fa-angle-left:before {
	width: 40px;
	height: 40px;
	display: inline-block;
	text-align: center;
	/*border: 1px dotted red;*/
	-webkit-border-radius: 50px;
	        border-radius: 50px;
}

.swiper-btn-next,
.swiper-btn-prev {
	position: absolute;
	bottom: 30%;
	z-index: 1;
	font-size: 2.5rem;
	background: rgba(0,0,0,0.7);
    -webkit-border-radius: 50px;
            border-radius: 50px;
}

.swiper-btn-next.swiper-button-disabled,
.swiper-btn-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none;
}

.swiper-btn-next {
	right: 0.5rem;
}

.swiper-btn-prev {
	left: 0.5rem;
}

.swiper-pagination-progress .swiper-pagination-progressbar {
	background: rgba(224, 1, 9, 0.84);
}

h2 {
	text-align: center;
	font-size: 1rem;
	padding: 0 3rem;
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.48);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

h2 a {
    color: white;
    text-decoration: none;
}

@media (max-width: 767px){
	.d-none {
		display: block;
	}

	.social-media {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		position: fixed;
    	bottom: 0;
    	left: 0;
    	width: 100%;
    	z-index: 5;
	}

	.social-media>div{
		width: 33.333333333%;
		height: 55px;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -ms-flex-align: center;
	            align-items: center;
	    color: white;
	}

	.social-media div:first-of-type {
		background: #275380;
	}

	.social-media div:nth-of-type(2) {
		background: #55ACEF;
	}

	.social-media div:last-of-type {
		background: #65BC54;
	}
	
	.appearScroll-t {
		/*-webkit-transition: -webkit-transform .35s ease;
		transition: -webkit-transform .35s ease;
		-o-transition: transform .35s ease;
		transition: transform .35s ease;
		transition: transform .35s ease, -webkit-transform .35s ease;*/
		-webkit-transition: transform .35s ease;
		-o-transition: transform .35s ease;
		-webkit-transition: -webkit-transform .35s ease;
		transition: -webkit-transform .35s ease;
		transition: transform .35s ease;
		transition: transform .35s ease, -webkit-transform .35s ease;


		
	}

	.appearScroll {
		bottom: 0;
	    left: 0;
	    position: fixed;
	    -webkit-transform: translate(0,125%);
	    -ms-transform: translate(0,125%);
	    transform: translate(0,125%);
	    width: 100%;
	}

	.appearScroll.active {
		-webkit-transform: translate(0,-40%);
	    -ms-transform: translate(0,-40%);
	    transform: translate(0,-40%);
	}

	.appearScroll.down {
		-webkit-transform: translate(0,40%);
		    -ms-transform: translate(0,40%);
		        transform: translate(0,40%);
	}
}